<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<h2>계정 등록</h2>
<form action="" method="post">
	<table>
		<tr>
			<td>매장아이디</td>
			<td><input type="text" name="sCode" /></td>
		</tr>
		<tr>
			<td>비밀번호</td>
			<td><input type="text" name="sPw" /></td>
		</tr>
		<tr>
			<td>비밀번호 확인</td>
			<td><input type="text" name="sPw2" /></td>
		</tr>
		<tr>
			<td>매장등급</td>
			<td>
				<select name="grade">
					<option value="1">플래그십</option>
					<option value="2">일반</option>
					<option value="3">아울렛</option>
					<option value="0">기타</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>매장명</td>
			<td><input type="text" name="sName"/></td>
		</tr>
		<tr>
			<td>담당자</td>
			<td><input type="text" name="manager"/></td>
		</tr>
		<tr>
			<td>연락처</td>
			<td><input type="text" name="tel" /></td>
		</tr>
		<tr>
			<td>주소</td>
			<td><input type="text" name="addr" /></td>
		</tr>
		<tr>
			<td>이메일</td>
			<td><input type="text" name="email" /></td>
		</tr>
		
	</table>
	
	<div class="authSetBox">
		<h3>권한설정</h3>
		<div>
			<h4>카테고리1</h4>
			<ul>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate101" />
						카테고리1목록				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate102" />
						카테고리1상세				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate103" />
						카테고리1등록				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate104" />
						카테고리1수정				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate105" />
						카테고리1삭제				
					</label>
				</li>
			</ul>
		</div>
		
		<div>
			<h4>카테고리2</h4>
			<ul>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate201" />
						카테고리2목록				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate202" />
						카테고리2상세				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate203" />
						카테고리2등록				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate204" />
						카테고리2수정				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate205" />
						카테고리2삭제				
					</label>
				</li>
			</ul>
		</div>

	</div>
	
	<input type="submit" value="등록"/>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>