<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>매장 목록</h2>

<div class="serchBox">
	<form action="" method="post">
		<input type="text" name="sName"/>
		<input type="submit" value="검색"/>
	</form>
</div>
<div class="tableBox">
	<table border="">
		<tr>
			<td>번호</td>
			<td>매장코드</td>
			<td>등급</td>
			<td>매장명</td>
			<td>연락처</td>
			<td>주소</td>
			<td>이메일</td>
			<td>담당자</td>
			<td>수정</td>
			<td>삭제</td>
		</tr>
		<tr th:each="dto: ${storeList}">
			<td th:text="${dtoStat.size-dtoStat.index}"/>
			<td th:text="${dto.sCode}"/>
			<td th:text="${dto.grade}"/>
			<td th:text="${dto.sName}"/>
			<td th:text="${dto.tel}"/>
			<td th:text="${dto.addr}"/>
			<td th:text="${dto.email}"/>
			<td th:text="${dto.manager}"/>
			<td><a href="#">수정[[${dto.no}]]</a></td>
			<td><a th:href="@{|manage/delete/${dto.no}|}">삭제</a></td>
		</tr>
	</table>
	<div class="btnBox"><a href="manage/insert">등록</a></div>
</div>
</body>
</html>