<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>계쩡 수정</h2>
<form action="modifyReg" method="post" th:object="${dto}">
	<table>
		<tr>
			<td>매장아이디</td>
			<td><input type="text" th:field="*{sCode}" readonly /></td>
		</tr>
		<tr>
			<td>비밀번호</td>
			<td><input type="text"  th:field="*{sPw}" /></td>
		</tr>
		<tr>
			<td>매장등급</td>
			<td>
				<select  th:field="*{grade}">
					<option value="1">플래그십</option>
					<option value="2">일반</option>
					<option value="3">아울렛</option>
					<option value="0">기타</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>매장명</td>
			<td><input type="text"  th:field="*{sName}"/></td>
		</tr>
		<tr>
			<td>담당자</td>
			<td><input type="text"  th:field="*{manager}"/></td>
		</tr>
		<tr>
			<td>연락처</td>
			<td><input type="text"  th:field="*{tel}" /></td>
		</tr>
		<tr>
			<td>주소</td>
			<td><input type="text"  th:field="*{addr}" /></td>
		</tr>
		<tr>
			<td>이메일</td>
			<td><input type="text"  th:field="*{email}" /></td>
		</tr>

	</table>
	
	<div class="authSetBox">
		<h3>권한설정</h3>
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="auth" id="authCenter" value="관리자" checked>
		  <label class="form-check-label" for="authCenter">
		    관리자
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="auth" id="authStore" value="매장">
		  <label class="form-check-label" for="authStore">
		    매장
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="auth" id="authAs" value="AS">
		  <label class="form-check-label" for="authAs">
		    AS
		  </label>
		</div>
	</div>
	
	<input type="submit" value="등록"/>
</form>
</body>
</html>