<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>계쩡 수정</h2>
<form action="" method="post" th:object="${dto}">
	<table>
		<tr>
			<td>매장아이디</td>
			<td><input type="text" th:field="*{sCode}" readonly /></td>
		</tr>
		<tr>
			<td>비밀번호</td>
			<td><input type="text"  th:field="*{sPw}" /></td>
		</tr>
		<tr>
			<td>매장등급</td>
			<td>
				<select  th:field="*{grade}">
					<option value="1">플래그십</option>
					<option value="2">일반</option>
					<option value="3">아울렛</option>
					<option value="0">기타</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>매장명</td>
			<td><input type="text"  th:field="*{sName}"/></td>
		</tr>
		<tr>
			<td>담당자</td>
			<td><input type="text"  th:field="*{manager}"/></td>
		</tr>
		<tr>
			<td>연락처</td>
			<td><input type="text"  th:field="*{tel}" /></td>
		</tr>
		<tr>
			<td>주소</td>
			<td><input type="text"  th:field="*{addr}" /></td>
		</tr>
		<tr>
			<td>이메일</td>
			<td><input type="text"  th:field="*{email}" /></td>
		</tr>

	</table>
	
	<div class="authSetBox">
		<h3>권한설정</h3>
		<div>
			<h4>카테고리1</h4>
			<ul>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate101" />
						카테고리1목록				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate102" />
						카테고리1상세				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate103" />
						카테고리1등록				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate104" />
						카테고리1수정				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate105" />
						카테고리1삭제				
					</label>
				</li>
			</ul>
		</div>
		
		<div>
			<h4>카테고리2</h4>
			<ul>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate201" />
						카테고리2목록				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate202" />
						카테고리2상세				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate203" />
						카테고리2등록				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate204" />
						카테고리2수정				
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" name="auth" value="cate205" />
						카테고리2삭제				
					</label>
				</li>
			</ul>
		</div>

	</div>
	
	<input type="submit" value="등록"/>
</form>
</body>
</html>