<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
	$(function() {
		$("#no").click(function() {
			if (confirm('삭제하시겠습니까?')) {
				document.location.href = '/as/list';
			} else {
				return false;
			}
		});
	});
</script>

<style>	
	section {
		width: 100%;
		max-width: 1200px;
		margin: auto;
	}
	.scr{
		border: 1px solid #fff;
		width: 1200px;
		height: 450px;
		overflow-y: scroll;
	}
	.tableBox {
		width: 100%;
		max-height: 600px;
		overflow: auto;
	}
	.table > thead{
		position: sticky;
		top:0;
	}
	
	.table > tfoot{
		position: sticky;
		bottom: -1px;
	}

</style>
</head>
<body>
as 디테일

<section>
	<table border="">
		<thead>
		  <colgroup>
		    <col width="10%" />
		    <col width="10%" />
		    <col width="10%" />
		    <col width="10%" />
		    <col width="10%" />
		    <col width="20%" />
		    <col width="10%" />
		    <col width="20%" />
		  </colgroup>
		  
			<tr>
				<th>NO</th>
				<td th:text="${dto.aNo}"></td>
				<th>매장코드</th>
				<td th:text="${dto.sCode}"></td>
				<th>매장명</th>
				<td th:text="${dto.sName}"></td>
				<th>접수일</th>
				<td th:text="${#dates.format(dto.regDate, 'yyyy-MM-dd')}"></td>
			</tr>
			<tr>
				<th>접수번호</th>
				<td th:text="${dto.asNum}"></td>
				<th>처리결과</th>
				<td th:text="${dto.asRes}"></td>
				<th>진행여부</th>
				<td th:text="${dto.asProg}"></td>
				<th>처리일</th>
				<td th:text="${#dates.format(dto.fixDate, 'yyyy-MM-dd')}"></td>
			</tr>
			<tr>
				<th>고객성함</th>
				<td th:text="${dto.asName}" colspan="7"></td>
			</tr>
			<tr>
				<th>고객연락처</th>
				<td th:text="${dto.asTel}" colspan="7"></td>
			</tr>
			<tr>
				<th>상품명</th>
				<td th:text="${dto.pName}" colspan="7"></td>
			</tr>
			<tr>
				<th>구매날짜</th>
				<td th:text="${#dates.format(dto.purDate, 'yyyy-MM-dd')}" colspan="7"></td>
			</tr>
			<tr>
				<th>의뢰내용</th>
				<td th:text="${dto.asNote}" colspan="7"></td>
			</tr>
			<tr>
				<th>처리내용</th>
				<td th:text="${dto.resCon}" colspan="7"></td>
			</tr>
			<tr>
				<th>수선비</th>
				<td th:text="${dto.asPrice}" colspan="7"></td>
			</tr>
	
			<tr>
				<td colspan="8" align="right" th:if="${dto.asRes} == '수선전' and ${login.sCode} == 'as'">
					<a th:href="@{|/as/modify/${dto.aNo}|}">수락</a>
					<a href="/as/list">목록으로</a>
				</td>
				
				<td colspan="8" align="right" th:if="${dto.asRes} != '수선전'">
					<a href="/as/list">목록으로</a>
				</td>
				
				<td colspan="8" align="right" th:if="${dto.asRes} == '수선전' and ${login.sCode} == 'admin'">
					<a href="/as/list">목록으로</a>
				</td>
				
				<td colspan="8" align="right" th:if="${dto.asRes} == '수선전' and ${login.sCode} != 'as' and ${dto.asRes} == '수선전' and ${login.sCode} != 'admin'">
					<a th:href="@{|/as/store/modify/${dto.aNo}|}">수정</a>
					<a th:href="@{|/as/store/delete/${dto.aNo}|}" id="no">삭제</a>
					<a href="/as/list">목록으로</a>
				</td>
			</tr>
		</thead>
	</table>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>