<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
	$(function() {
		$("#chkS").click(function() {
			if (confirm('as처리하시겠습니까?')) {
				document.location.href = '/';
			} else {
				return false;
			}
		});
	});
</script>
</head>
<body>
as 매장추가

<form action="" method="post">
	<table border="">
		<thead>
		  <colgroup>
		    <col width="30%" />
		    <col width="70%" />
		  </colgroup>
		   
			<tr>
				<th>접수번호</th>
				<td><input type="text" name="asNum" value=""/>자동으로 가져와야함
			</tr>
			<tr>
				<th>매장코드</th>
				<td><input type="text" name="sCode"/><button id="chkS">조회</button></td>
			</tr>
			<tr>
				<th>매장명</th>
				<td><input type="text" name="sName"/></td>
			</tr>
			<tr>
				<th>고객성함</th>
				<td><input type="text" name="asName"/></td>
			</tr>
			<tr>
				<th>고객연락처</th>
				<td><input type="text" name="asTel"/></td>
			</tr>
			<tr>
				<th>상품코드</th>
				<td><input type="text" name="pCode"/><button id="chkP">조회</button></td>
			</tr>
			<tr>
				<th>상품명</th>
				<td><input type="text" name="pName"/></td>
			</tr>
			<tr>
				<th>구매날짜</th>
				<td><input type="date" name="purDate"/></td>
			</tr>
			<tr>
				<th>의뢰내용</th>
				<td><textarea rows="5" cols="50" name="asNote"></textarea></td>
			</tr>
			
			<tr>
				<td colspan="2" align="right">
					<input type="submit" value="접수"/>
					<a href="/as/list">취소</a>
				</td>
			</tr>
		</thead>
	</table>
</form>
</body>
</html>