<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
as 매장수정

<table border="">
	<thead>
	  <colgroup>
	    <col width="10%" />
	    <col width="10%" />
	    <col width="10%" />
	    <col width="10%" />
	    <col width="10%" />
	    <col width="10%" />
	  </colgroup>
	  
	  
  		<tr>
			<th>매장코드</th>
			<td th:text="${sCode}"></a></td>
			<th>매장명</th>
			<td th:text="${sName}"></a></td>
			<th>접수일</th>
			<td th:text="${reg_date}"></td>
		</tr>
		<tr>
			<th>고객성함</th>
			<td colspan="7"><input type="text" name="asName"/></td>
		</tr>
		<tr>
			<th>고객연락처</th>
			<td colspan="7"><input type="text" name="asTel"/></td>
		</tr>
		<tr>
			<th>상품명</th>
			<td colspan="7"><input type="text" name="pName"/></td>
		</tr>
		<tr>
			<th>구매날짜</th>
			<td colspan="7"><input type="text" name="purDate"/></td>
		</tr>
		<tr>
			<th>의뢰내용</th>
			<td colspan="7">
				<textarea rows="5" cols="50" name="asNote"></textarea>
			</td>
		</tr>	
		<tr>
			<td colspan="8" align="right">
				<a href="/as/store/modify">수정</a>
				<a href="/as/list">취소</a>
			</td>
		</tr>
	</thead>
</table>
</body>
</html>