<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>상품 판매 현황</title>
</head>
<style>
 	section {
		width: 100%;
		max-width: 1200px;
		margin: auto;
	}
	.scr{
		border: 1px solid #fff;
		width: 1200px;
		height: 450px;
		overflow-y: scroll;
	}
	.tableBox {
		width: 100%;
		max-height: 600px;
		overflow: auto;
	}
	.table > thead{
		position: sticky;
		top:0;
	}
	
	.table > tfoot{
		position: sticky;
		bottom: -1px;
	}

</style>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$(function(){
	$('#sNameSearch').on("click",function(e){
		
		e.preventDefault();
		let popUrl = "../sales/sNameSearch";
		let popOption = "width = 650px, height=550px, top=300px, left=300px, scrollbars=yes";
		
		window.open(popUrl,"매장",popOption);
		
	});
	
	$('#pNumSearch').on("click",function(e){
		
		e.preventDefault();
		let popUrl = "../sales/pNumSearch";
		let popOption = "width = 650px, height=550px, top=300px, left=300px, scrollbars=yes";
		
		window.open(popUrl,"품번",popOption);
		
	});
	
})

</script>
<body>
<h1>상품 판매 현황</h1>
<section>
<form action="">
	<div class="searchBox container mb-3 border-bottom">
		<div class="row g-3 align-items-center">		
			<div class="col-md-auto">			
				<div class="input-group">
					<span class="input-group-text">판매날짜</span>
					<input type="date" class="form-control" name="start">
					<div class="px-2"> ~ </div> 
					<input type="date" class="form-control" name="end">
				</div>
			</div>
			<div class="col-md-auto">				
				<div class="input-group">
					<span class="input-group-text">매장명</span>
					<input id="storeNm" type="text" class="form-control" name="sName" placeholder="매장명 입력"/>
					<div id="sNameSearch" class="btn btn-outline-secondary" ><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
					  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
					</svg></div>
				</div>
			</div>
			<div class="col-md-auto">				
				<div class="input-group">
					<span class="input-group-text">품번</span>
					<input id="productNum" type="text" class="form-control" name="pNum" placeholder="품번 입력"/>
					<div id="pNumSearch" class="btn btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
					  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
					</svg></div>
				</div>
			</div>						
			<div class="col-md-auto">				
				<div class="input-group">
					<span class="input-group-text">상품명</span>
					<input id="productNm" type="text" class="form-control" name="pName" placeholder="상품명 입력"/>
				</div>
			</div>						
		</div>
		<div class="row justify-content-end align-items-center">
			<div class="col-auto mb-3">				
				<div class="input-group">
					<input class="btn btn-dark" type="submit" value="검색"/>
				</div>	
			</div>
		</div>
	</div>
	<div class="tableBox mb-3">
		<table class="table table-striped-columns">
			<colgroup>
				<col style=""/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
			</colgroup>
			<thead>
				<tr class="table-dark">
					<td>번호</td>
					<td>매장코드</td>
					<td>매장명</td>
					<td>판매날짜</td>
					<td>품번</td>
					<td>컬러</td>
					<td>사이즈</td>
					<td>시즌</td>
					<td>상품명</td>
					<td>정가</td>
					<td>할인율</td>
					<td>상품판매가</td>
					<td>판매수량</td>
					<td>총액</td>
				</tr>
			</thead>
			<tbody>
			 	<tr th:each="dto : ${sellData}" >
					<td th:text="${dto.sellNo}"></td>
					<td th:text="${dto.sCode}"></td>
					<td th:text="${dto.sName}"></td>
					<td th:text="${dto.sellDate}"></td>
					<td th:text="${dto.pNum}"></td>
					<td th:text="${dto.color}"></td>
					<td th:text="${dto.pSize}"></td>
					<td th:text="${dto.season}"></td>
					<td th:text="${dto.pName}"></td>
					<td th:text="${#numbers.formatInteger(dto.liPrice, 3, 'COMMA')}"></td>
					<td th:text="${dto.discount}"></td>
					<td th:text="${#numbers.formatInteger(dto.pPrice, 3, 'COMMA')}"></td>
					<td th:text="${dto.cnt}"></td>
					<td th:text="${#numbers.formatInteger(dto.totPrice, 3, 'COMMA')}"></td>
				</tr> 
			</tbody>
			<tfoot class="table-group-divider">
				<tr class="tot table-secondary" th:each="dto2 : ${totData}">
					<td>통계</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td th:text="${#numbers.formatInteger(dto2.allTot, 3, 'COMMA')}"></td>
				</tr>
			</tfoot>
		</table>
	</div>
	</form>
	
	<!-- <a href="insertForm">글쓰기</a> -->
</section>

</body>
</html>