<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<title>YuRP</title>
<style>	
	section {
		width: 100%;
		max-width: 1200px;
		margin: auto;
	}
	.scr{
		border: 1px solid #fff;
		width: 1200px;
		height: 450px;
		overflow-y: scroll;
	}
	.tableBox {
		width: 100%;
		max-height: 600px;
		overflow: auto;
		text-align:center;
	}
	.table > thead{
		position: sticky;
		top:0;
	}
	
	.table > tfoot{
		position: sticky;
		bottom: -1px;
	}
	
	.table input[type="text"]{
		
		width: 100%;
		border: none;
		background-color: transparent;
		display: none;
	}
	.table input[type="checkbox"]{
		cursor: pointer;
	}
	
	.dataRow span{
		display: inline-block;
		width: 100%;
	}
	.dataRow.active span{
		display: none;
	}
	.dataRow.active input[type="text"]{
		display: inline;
	}
	

</style>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$(function(){
	$(".list").click(function(){
		var oStat = $(this).text();
		  $.ajax({
		          type: 'post'
		        , url: '../order/detail'
		        , data: { oStat: oStat }
		        , dataType : 'html'
		        , success: function(data) {
		        	$("#detail").html(data);
		          }
		  });	
	})		
})
</script>
</head>
<body>
<h1>본사에서 브랜드에 발주넣은 리스트</h1>

<section>

	<form action="">

		<div class="searchBox container mb-3 border-bottom">
			<div class="row g-3 align-items-center">		
				<div class="col-md-auto">			
					<div class="input-group">
						<span class="input-group-text">기간</span>
						<input type="date" class="form-control" name="start"> 
						<div class="px-2"> ~ </div> 
						<input type="date" class="form-control" name="end">
					</div>
				</div>
				<div class="col-md-auto">			
					<div class="input-group">
						<span class="input-group-text">브랜드</span>
						<select class="form-select" name="bCode">
	                        <option value="" selected disabled hidden>브랜드 선택</option>
	                        <option th:each="brand : ${blist}" th:text="|${brand.bName} [${brand.bCode}]|" th:value="${brand.bCode}"></option>
	                    
	                    </select>
					</div>
				</div>
				<div class="col-md-auto">				
					<div class="input-group">
						<span class="input-group-text">전표번호</span>
						<input type="text" class="form-control" name="oStat" placeholder=""/>
					</div>
				</div>
			</div>
			<div class="row justify-content-end align-items-center">
				<div class="col-auto mb-3">				
					<div class="input-group">
						<input class="btn btn-dark" type="submit" value="검색"/>
					</div>	
				</div>
			</div>
		</div>
	</form>
	
	
	<!-- 테이블은 이런식으로?  -->
	<div class="tableBox mb-3">
		<table class="table table-striped-columns">
			<colgroup>
				<col style="width: 5%;"/>
				<col style="min-width:80px; width: 20%;"/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
			</colgroup>
			<thead>
				<tr class="table-dark top">
					<td>번호</td>
					<td>발주일</td>
					<td>브랜드</td>
					<td>전표번호</td>
					<td>수량</td>
					<td>금액</td>
				</tr>
			</thead>
			<tbody>		
			 	<tr th:each="list : ${listData}">
			 		<td th:text="${listStat.index+1}"></td>
					<td th:text="${#dates.format(list.regDate, 'yyyy/M/dd')}"></td>
					<td th:text="${list.bCode}"></td>
					<td><a th:text="${list.oStat}" class="list"/></td>
					<td th:text="${list.totCnt}"></td>
					<td th:text="${list.totPrice}"></td>
				</tr>
				
			</tbody>
			
		</table>
	</div>
</section>

<section>

	<div class="tableBox mb-3">
		<table class="table table-striped-columns">
			<colgroup>
				<col style="width: 5%;"/>
				<col style="width: 15%;"/>
				<col style=""/>
				<col style="width: 10%;"/>
				<col style="width: 10%;"/>
				<col style=""/>
				<col style="min-width:80px; width: 5%;"/>
				<col style="min-width:80px; width: 5%;"/>
			</colgroup>
			<thead>
				<tr class="table-dark top">
					<td>번호</td>
					<td>브랜드</td>
					<td>품번</td>
					<td>컬러</td>
					<td>사이즈</td>
					<td>품명</td>
					<td>창고수량</td>
					<td>요청수량</td>
				</tr>
			</thead>
			<tbody id="detail">		
				<!-- 상세정보 -->
				
			</tbody>

		</table>
	</div>
	
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>