<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>YuRP</title>
</head>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
	$(function(){
	
	 	$("#btn").on("click",function(){
	 		  $("input[type='number'][class='reqCnt']").each(function(i){
	                var cnt = $(this).val();
	                var cntName = $(this).attr('name');
	                var tr = $(this).closest('tr');
	               	if(cnt!=""){
	                    
	                 	$(this).val(cnt)
	                 
	                 	var arr = new Array(); //담아서 요청페이지에 보낼꺼야
	                 	var obj = new Object(); 
	                
	                 	obj.iNo  = tr.find("input[id='iNo']").val();
	                 	obj.bCode  = tr.find("td[id='bCode']").text();
	                 	obj.pNum  = tr.find("td[id='pNum']").text();
	                 	obj.color  = tr.find("td[id='color']").text();
	                 	obj.pSize  = tr.find("td[id='pSize']").text();
	                 	obj.liPrice  = tr.find("td[id='liPrice']").text();
	                 	obj.pName  = tr.find("td[id='pName']").text();
	                 	obj.cnt  = tr.find("td[id='cnt']").text();
	                 	obj.reqCnt  = tr.find("input[id='reqCnt']").val();
	                 	
	                 	arr.push(obj);
	                 	
	                 	window.opener.setList(arr); //부모 함수 가져옴
	                 	window.close();
	                 
	                 
	              
	                    tr.find('input[type="hidden"][id="iNo"]').each(function() {
	                        var hiddenValue = $(this).val();
	                        console.log($(this).attr('name') + " - " + hiddenValue);
	                      
	                    });
	                
	               	}  

	           }); 
	 		 
		}); 
	 
	})

</script>
<body>
<h1>등록할 때 상품 추가 페이지</h1>
<div>
	<table border="" width="800px">
		<thead>
		  <colgroup>
		  	 <col width="2%"/>
			    <col width="13%"/>
			    <col width="15%"/>
			     <col width="10%"/>
			     <col width="10%"/>
			    <col width="10%"/>
			    <col width="20%"/>
			     <col width="10%"/>
			     <col width="10%"/>
		  </colgroup>
			<tr>
				<th colspan="2">상품코드</th>
				<td colspan="4"><input type="text"/></td>
				<td><input type="button" value="조회"></td>
			</tr>
			<tr>
				<th>no</th>
				<th>브랜드</th> <!-- 브랜드 선택할거니 그 브랜드만 나오게 -->
				<th>품번</th>
				<th>컬러</th>
				<th>사이즈</th>
				<th>가격</th>
				<th>품명</th>
				<th>창고재고</th>
				<th>요청수량</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="prod : ${prod}">
				<td th:text="${prodStat.index+1}"></td>
			 	<input type="hidden" id="iNo" th:value="${prod.iNo}"/>
				<td id="bCode" th:value="${prod.bCode}" th:text="${prod.bCode}"></td>
                <td id="pNum" th:value="${prod.pNum}" th:text="${prod.pNum}"></td>
                <td id="color" th:value="${prod.color}" th:text="${prod.color}"></td>
                <td id="pSize"  th:value="${prod.pSize}" th:text="${prod.pSize}"></td>
                <td id="liPrice" th:value="${prod.liPrice}" th:text="${prod.liPrice}"></td>
                <td id="pName"  th:value="${prod.pName}" th:text="${prod.pName}"></td>
                <td id="cnt"  th:value="${prod.cnt}" th:text="${prod.cnt}"></td>
                <td>
                     <input id="reqCnt" class="reqCnt"  type="number" style="width:80%;"/>
                 </td>
			</tr> 
			<tr>
				<td colspan="7"><input type="button" id="btn" value="상품추가"></td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>