<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>YuRP</title>
</head>
<body>
<h1>브랜드 발주 요청페이지</h1>
<table border="" width="1000px">
<thead>
  <colgroup>
    <col width="20%"/>
    <col width="15%"/>
    <col width="30%"/>
     <col width="10%"/>
    <col width="20%" />
    <col width="10%" />
  </colgroup>
	<tr>
		<th>브랜드</th>
		<td ><input type="text" value="셀렉트로"/></td>
		<th>전표번호</th>
		<td ><input type="text" value="자동생성하게할거임"/></td>
	</tr>
	<tr>	
		<th>발주날짜</th>
		<td ><input type="text" value="자동생성할거임"/></td>
	</tr>
	<tr>
		<th>수량</th>
		<td>aaa</td>
		<th>금액</th>
		<td>aaa</td>
	</tr>
</thead>
<tbody>
	<tr>
		<td colspan="4"></td>
	</tr>
	
	<tr>
		<td colspan="4"><a href="../order/prodAdd">상품추가</a></td>
	</tr>
</tbody>
</table>
</body>
</html>