<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>YuRP</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
	$(function(){
		console.log("실행")
		$("#prodAdd").on("click",function(){
			 
		    window.open("../order/prodAdd","_blank","width=1000,height=800"); 
		      
				
			
			
		});
	})
	var index = 1;
	var cntTot = 0;
	var priTot = 0;
	
	
	function setList(arr){
   
	    for(var i=0; i<arr.length; i++){
		
			 var tr = $("<tr>")
			 tr.append($("<td>").text(index));
			 tr.append($("<td>").text(arr[i].bCode));
			 tr.append($("<td>").text(arr[i].pNum)); 
			 tr.append($("<td>").text(arr[i].color));
			 tr.append($("<td>").text(arr[i].pSize));
			 tr.append($("<td>").text(arr[i].liPrice));
			 tr.append($("<td>").text(arr[i].pName));
			 tr.append($("<td>").text(arr[i].cnt)); 
			 tr.append($("<td>").text(arr[i].reqCnt)); 
			 
		 	 tr.append($("<input type='hidden' name='arr["+i+"].iNo' value='"+arr[i].iNo+"'>"));
			 tr.append($("<input type='hidden' name='arr["+i+"].bCode' value='"+arr[i].bCode+"'>"));
			 tr.append($("<input type='hidden' name='arr["+i+"].pNum' value='"+arr[i].pNum+"'>"));
			 tr.append($("<input type='hidden' name='arr["+i+"].color' value='"+arr[i].color+"'>"));
			 tr.append($("<input type='hidden' name='arr["+i+"].pSize' value='"+arr[i].pSize+"'>"));
			 tr.append($("<input type='hidden' name='arr["+i+"].liPrice' value='"+arr[i].liPrice+"'>"));
			 tr.append($("<input type='hidden' name='arr["+i+"].pName' value='"+arr[i].pName+"'>"));
			 tr.append($("<input type='hidden' name='arr["+i+"].cnt' value='"+arr[i].cnt+"'>"));
			 tr.append($("<input type='hidden' name='reqCnt' value='"+arr[i].reqCnt+"'>"));
		 	 
		 		
		
			 
			 $(".prod").append(tr);
			 cntTot+=parseInt(arr[i].reqCnt);
			 priTot+=parseInt(arr[i].reqCnt * arr[i].liPrice);
			 
	    }
		index++;
		$("td[name='cntTot']").text(cntTot);
		$("td[name='priTot']").text(priTot);
	}


</script>
</head>
<body>
<h1>브랜드 발주 요청페이지</h1>
<div>
	<div>
		<table border="" width="1200px">
			<thead>
			  <colgroup>
			    <col width="20%"/>
			    <col width="15%"/>
			    <col width="30%"/>
			     <col width="10%"/>
			 
			  </colgroup>
			  </thead>
			  <tbody>
				<tr>
					<th>브랜드</th>
					<td >
						<select name="brand">
							<th:block  th:each="bdto : ${bdto}">
								<option th:value="${bdto.bName}">[[${bdto.bName}]]</option>
							</th:block>
					
						</select>
					</td>
					<th>전표번호</th>
					<td ><input type="text" value="자동생성하게할거임"/></td>
				</tr>
				<tr>	
					<th>발주날짜</th>
					<td >[[${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}]]</td>
				</tr>
				<tr>
					<th>수량</th>
					<td name="cntTot"></td>
					<th>금액</th>
					<td name="priTot"></td>
				</tr>
			</tbody>
		</table>
	</div>
			
<h1>추가한거 나옴</h1>

	<div>	
		<form action="../excel" method="post">
			<table border="" width="1200px">
				<thead>
				  <colgroup>
				    <col width="2%"/>
				    <col width="13%"/>
				    <col width="15%"/>
				     <col width="10%"/>
				     <col width="10%"/>
				    <col width="10%"/>
				    <col width="20%"/>
				     <col width="10%"/>
				     <col width="10%"/>
				  </colgroup>
				  <tr>
						<td colspan="4">
							<input type="button" value="상품추가" id="prodAdd"/>
						</td>
				  </tr>
					
				  <tr>
					<th>no</th>
					<th>브랜드</th> 
					<th>품번</th>
					<th>컬러</th>
					<th>사이즈</th>
					<th>가격</th>
					<th>품명</th>
					<th>창고재고</th>
					<th>요청수량</th>
				  </tr>
				</thead>
				<tbody class="prod">
					
				</tbody>
				<tr>
						<td><input type="submit" value="등록"/></td>
					</tr>
			</table>
		</form>
	</div>
</div>
</body>
</html>